head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width")
  meta(name="description", content="домашнее задание №1")
  meta(name="keywords", content="домашка, loftschool, выпускной проект")


  block title
    title Домашка №1

  link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
  link(rel="icon", href="favicon.ico", type="image/x-icon")

  <!--[if IE 8]>
  script(src="js/html5shiv.min.js")
  <![endif]--> 

  link(rel="stylesheet", href="css/main.css")

  <!--[if lte IE 9]>
  link(rel="stylesheet", href="css/ie.css")
  <![endif]-->    