mixin pagination()
  ul(class="pagination")&attributes(attributes)
    li(class="pagination__item")
      a(href="#", class="pagination__link pagination__num is-current") 1
    li(class="pagination__item")
      a(href="#", class="pagination__link pagination__num") 2
    li(class="pagination__item")
      a(href="#", class="pagination__link pagination__num") 3
    li(class="pagination__item")
      a(href="#", class="pagination__link pagination__num") 4
    li(class="pagination__item")
      a(href="#", class="pagination__link pagination__num") 5
    li(class="pagination__item")
      a(href="#", class="pagination__link pagination__num") Все