mixin socials(items)
  ul(class="socials")&attributes(attributes)
    each item, idx in items
      li(class="socials__item")
        a(href=item.url ? item.url : "#", class="socials__link socials__link_" + item.alias, title=item.title, target="_blank")