/* ========================================================================== *\
   =Blockquotes
\* ========================================================================== */

blockquote {
  margin: 0 0 10px;
  font-size: $font-size-base;
  position: relative;
  padding-left: 15px;
  border-left: 2px solid $color-gray;

  small,
  cite {
    display: block;
    color: $color-gray;
    text-align: left;

    &:before {
      content: '\2014 \00A0';
    }

  }

}