/*--------------------------------------------------*\
  =Links
\*--------------------------------------------------*/

$link-color: $color-primary;
$link-color-hover: $color-primary;

$link-text-decoration: none;
$link-text-decoration-hover: none;

$link-border: 1px solid lighten($color-primary, 35%);
$link-border-hover: 1px solid transparent;

$link-pseudo-border: 1px dashed transparentize($link-color, 0.7);
$link-pseudo-border-hover: 1px dashed transparent;



a, .link {
  @include transition(color 150ms, border-color 150ms);
  text-decoration: $link-text-decoration;
  color: $link-color;
  cursor: pointer;
  background-color: transparent;

  @if $link-border != none {
    border-bottom: $link-border;
  }  

  &:hover,
  &:hover .link {
    text-decoration: $link-text-decoration-hover;
    color: $link-color-hover;

    @if $link-border-hover != none {
      border-bottom: $link-border-hover;
    }

  }

}

.link_pseudo {
  text-decoration: none;
  border-bottom: $link-pseudo-border;

  &:hover,
  a:hover &,
  .link:hover & {
    text-decoration: none;
    border-bottom: $link-pseudo-border-hover;
  }

}